.navs {
  display: flex;
  gap: 5px;
  cursor: pointer;
}
.header-container {
  padding: 16px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title{
    font-size: 30px;
    font-weight: 600;
}
.nav-elements-text{
    text-decoration: underline;
}